
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}


.dialogsItem {
    padding: 10px;
}

.dialogsItems .active {
    color: cornflowerblue;
}

.messages {
    padding: 0px;
}

